*{
margin:0;
font-family: sans-serif;
}
.header{
background:#55313b;
height:25px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 150px;
}
.text_header{
display:flex;
gap:40px;
}
.text_header p{
color:white;
font-size:12px;
}
.img_voyti p{
color:white;
font-size:12px;
}
.img_voyti{
    display: flex;
    width: 12px;
    height: 12px;
    gap: 5px;
}
.image2{
height:70px;
display:flex;
background: #F2F2F2;
align-items:center;
padding-left:150px;
}
.image2 img{
width:180px;
}
.section1{
   width: 80%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.section1_text{
    width: 300px;
    font-weight: 100;
    font-size: 55px;
}
.btn_section1{
    width: 250px;
    padding: 12px;
    border: none;
    background: linear-gradient(#843546 , #6A3B45);
    border-radius: 5px;
    color: white;
}
.btn_section1:hover{
      background: linear-gradient(#6b4850 ,#812c3e );
}
.antena{
    width: 500px;
}
.star{
    width: 150px;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.icon_text{
    display: flex; 
    align-items: center;
    gap: 160px;
}
.back_cont{
    background-color: rgb(252, 252, 252);
    width: 500px;
    padding: 40px;
    box-shadow: 1px 1px 1px 1px rgb(245, 245, 245);
    border-radius: 10px;
}
.text_center_section2{
     font-size: 26px;
     text-align: center;
     margin-top: 50px;
}
.section2{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.container_section_2{
     background-color: rgb(252, 252, 252);
         box-shadow: 1px 1px 1px 1px rgb(245, 245, 245);

         width: 230px;
        padding: 38px;
        border-radius: 20px;


}
.container_section_2 h2{
    width: 150px;
    margin-top: 15px;
}
.container_section_2 p{
   font-size: 16px;
   margin-top: 25px;
    color: gray;
}
.operatsiya11{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
.operatsiya{
    width: 100%;
    margin: auto;
}
.section3{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p_sec3{
    font-size: 39px ;
    font-weight: 700;
    width: 400px;
    line-height: 45px;
}
.parag_sec3{
    font-size: 14px;
    color: gray;
    width: 460px;
    margin-top: 18px;
    line-height: 18px;
}
.kopy_2{
   width: 520px;
}
.sec3_end{
    width: 70%;
    margin: auto;
     display: flex;
     gap: 250px;
     flex-wrap: wrap;
 }
.container_section_3{
    display: flex;
    gap: 30px;
}
.container_section_3 p{
    color: gray;
    font-size: 13px;
    width: 250px;
    margin-top: 25px;
}
.container_section_3 img{
    width: 60px;
    height: 65px;
}
.container_section_3 h3{
    width: 250px;
}
.endd{
    display: flex;
    gap: 250px;
    margin-top: -150px;
}
.section4{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.img_sec4 img{
    width: 400px;
}
.section4 h1{
    line-height: 48px;
    width: 450px;
}
.section4 p{
    color: gray;
    font-size: 13px; 
    width: 400px;
    line-height: 16px;
    margin-top: 20px;
}
.section_4_text_center{
    font-size: 26px;
     text-align: center;
     margin-top: 50px;
}
.content_section4{
    width: 43%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.container_section4{
    text-align: center;
  background-color: rgb(252, 252, 252);
         box-shadow: 1px 1px 1px 1px rgb(245, 245, 245);
  width: 150px;
  padding: 20px;
}
.content_section4 h2{
    margin-top: 15px;
}
.copy_image_sec_4{
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.copy_image_sec_4 img{
    width: 100%;
    margin: auto;
}
.section_4_4{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.section_4_4 img{
    width: 450px;
}
.rabota{
 font-size: 35px;
 width: 450px;
 line-height: 35px;
} 
.parag_sec_4_4{
    color: gray;
    font-size: 14px;
    width: 410px;
    line-height: 20px;
    margin-top: 15px;
}
.otkriti{
    font-size: 40px;
    width: 520px;
    margin-top: 15px;
    line-height: 45px;
}
.p_sec_4_4{
    color: gray;
    font-size: 14px;
    line-height: 20px;
    width: 420px;
    margin-top: 15px;
}
.section5{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section5 h1{
  font-size: 35px;
  width: 400px;
  line-height: 45px;
}
.section5 img{
    width: 510px;
}
.section5 p{
    color: gray;
    font-size: 14px;
     margin-top: 20px;
     width: 490px;
}
.section_5_icon{
    width: 70%;
    margin: auto;
    display: flex;
    gap: 270px;
}
.cont_sec5_icon{
    display: flex;
    gap: 30px;
}
.cont_sec5_icon img{
    width: 60px;
    height: 65px;
}
.cont_sec5_icon p{
    color: gray;
    font-size: 14px;
    width: 290px;
    line-height: 18px;
    margin-top: 19px;
}
.section6_text{
    text-align: center;
    font-size: 20px;
    margin-top: 80px;
}
.container_section6{
    background-color: rgb(252, 252, 252);
         box-shadow: 1px 1px 1px 1px rgb(245, 245, 245);
    width: 200px;
    padding: 37px;
 height: 240px;
 border-radius: 10px;
}
.container_section6 p{
 color: gray;
 font-size: 14px;
 margin-top: 15px;
 width: 190px;
}
.section6{
    width: 60%;
    margin: auto;
    display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.section7{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.section7 img{
  width: 500px;
}
.section7 h1{
    width: 600px;
}
.section7 p{
    color: gray;
    line-height: 18px;
    font-size: 14px;
    margin-top: 25px;
    width: 400px;
}