*{
margin:0;
font-family: sans-serif;
}
.header{
background:#55313b;
height:25px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 150px;
}
.text_header{
display:flex;
gap:40px;
}
.text_header p{
color:white;
font-size:12px;
}
.img_voyti p{
color:white;
font-size:12px;
}
.img_voyti{
    display: flex;
    width: 12px;
    height: 12px;
    gap: 5px;
}
.image2{
height:70px;
display:flex;
background: #F2F2F2;
align-items:center;
padding-left:150px;
}
.image2 img{
width:180px;
}
.section1{
   width: 80%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.section1_text{
    width: 300px;
    font-weight: 100;
    font-size: 55px;
}
.btn_section1{
    width: 250px;
    padding: 12px;
    border: none;
    background: linear-gradient(#843546 , #6A3B45);
    border-radius: 5px;
    color: white;
}
.btn_section1:hover{
      background: linear-gradient(#6b4850 ,#812c3e );
}
.antena{
    width: 500px;
}
.star{
    width: 150px;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.icon_text{
    display: flex; 
    align-items: center;
    gap: 160px;
}
.back_cont{
    background-color: rgb(252, 252, 252);
    width: 500px;
    padding: 40px;
    box-shadow: 1px 1px 1px 1px rgb(245, 245, 245);
    border-radius: 10px;
}
.text_center_section2{
     font-size: 26px;
     text-align: center;
     margin-top: 50px;
}
.section2{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.container_section_2{
     background-color: rgb(252, 252, 252);
         box-shadow: 1px 1px 1px 1px rgb(245, 245, 245);

         width: 230px;
        padding: 38px;
        border-radius: 20px;


}
.container_section_2 h2{
    width: 150px;
    margin-top: 15px;
}
.container_section_2 p{
   font-size: 16px;
   margin-top: 25px;
    color: gray;
}
.operatsiya11{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
.operatsiya{
    width: 100%;
    margin: auto;
}